{% extends 'base.html' %}

{% block content %}
<header>
<div class="overlay"></div>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.coverr.co/videos/ekhBwQRUW82fXj02sDdY6RSgtXQEczUj7?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjIxMjY1Njc2fQ.yin7Hf55XD7Lil8i3pKPiHoXYbwlaLm1-ickfouYpoI" type="video/mp4">
</video>
<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white">
        <h1 class="display-3">MyKubanList</h1>
        <p class="lead mb-0">Notre outil de gestion de tâches est fondé sur la nouvelle méthode Kuban !</p>
        <div class="m-4"><a href="/mylists" class="btn btn-primary btn-lg" role="button">Je m'organise dès maintenant</a></div>
    </div>
    </div>
</div>
</header>
  
<section class="my-5">
<div class="container">
    <div class="row">
    <div class="col-md-8 mx-auto text-center">
        <p>Cette méthode de gestion de projet est, nous vous l'assurons, ré-vo-lu-tio-nn-ai-re !</p>
        <p>Devenez un as de votre organisation personnelle en adoptant notre nouvel outil !</p>
    </div>
    </div>
</div>
</section>
  {% endblock %}  