{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">Mes checklists</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Mes listes</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            Mes listes. Pour créer une nouvelle checklist, cliquer sur "Créer une checklist".
        </div>
    </div>
        <div class="card mb-4 col-12">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Mes listes
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableListes" data-order='[[ 0, "desc" ]]'  class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Liste (ID)</th>
                                <th>Nom</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                 
    {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">Fermer</span>
                    </button>
                {{message}}
                </div>
                {% endfor %}
     
                {% endif %}
                {% endwith %}
</div>
{% endblock %}  