{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">Tâches de la liste "{{ nom_liste }}"</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/mylists">Mes listes</a></li>
        <li class="breadcrumb-item active"></a>Liste n° <b id="list_id">{{ list_id }}</b></li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            Voici le tableau kuban permettant de gérer les tâches de votre liste "{{ nom_liste }}".
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     
{% for message in messages %}
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">Fermer</span>
        </button>
    {{message}}
    </div>
    {% endfor %}

    {% endif %}
    {% endwith %}
        <div class="card mb-4 col-12">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Vos tâches en cours
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableEnCours" data-order='[[ 0, "desc" ]]' class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="col-1">Priorite (Ordre)</th>
                                <th class="col-2">Priorite (Nom)</th>
                                <th class="col-3">Nom</th>
                                <th class="col-4">Description</th>
                                <th>Echeance</th>
                                <th>Couleur</th>
                                <th>Tache (ID)</th>
                                <th class="col-2">Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="card mb-4 col-12">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Vos tâches terminées
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTableTerminees" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Priorite (Ordre)</th>
                                <th>Priorite (Nom)</th>
                                <th>Nom</th>
                                <th>Description</th>
                                <th>Echeance</th>
                                <th>Couleur</th>
                                <th>Tâche (ID)</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

</div>
{% endblock %}  